<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-lg-6" *ngIf="orderPlatData">
            <a routerLink="../../Home" class="btn btn-sm btn-dark mb-3">Retour</a>

            <img src="{{orderPlatData[0].platImg}}" width="100%" >
            <h1 class="mt-3">{{orderPlatData[0].nomPlat}}</h1>
            <p>{{orderPlatData[0].plat}}</p>
            <p>{{orderPlatData[0].prixPlat}} €</p>
        </div>

        <div class="col-lg-6">
            <h1>Où on peut livrer?</h1>
            <form>
            
                <input type="text" class="form-control" placeholder="Entrez votre nom et prenom"/>
                <input type="text" class="form-control" placeholder="Entrez votre numero de téléphone"/>
                <textarea class="form-control" placeholder="Entrez votre adresse"></textarea>
                <button class="btn btn-md btn-dark mt-3">C'est parti!</button>
            </form>
        </div>
    </div>
</div>
