  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">NoteBook Recipe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" *ngIf="logoutbtn" routerLink="Home" routerLinkActive="active-link">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ton carnet de recettes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loginbtn" routerLink="Contact" routerLinkActive="active-link">Charge ta recette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="About" routerLinkActive="active-link">Notre histoire</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  *ngIf="loginbtn" routerLink="inscription" routerLinkActive="active-link">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">Deconexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loginbtn" routerLink="inscription" routerLinkActive="active-link">Inscription</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
