
  <ng-container *ngIf="recettesData">
    <div class="container mt-5 mb-5">
      <h1 class="text-center">
        Tu cherche de l'inspiration <span class="cmd">La voici ! </span>
      </h1>
      <div class="row">
        <div class="col-lg-4" *ngFor="let fd of recettesData">
          <div class="foodbox mt-3 mb-3">
            <img src="{{ fd.image }}" />
            <h1>{{ fd.nom }}</h1>
            <p>{{ fd.recette }}</p>
            <!-- <a class="cmdbtn" [routerLink]="['/Menu',fd.id]">Commander <i class="bi bi-bag"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </ng-container>

