<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-4" *ngFor="let fd of platData">

           
                <div class="foodbox mt-3 mb-3" >
                    <a href="plat"> {{fd.plats}}
                        <img src="{{fd.platImg}}">
                    </a>
                        <h1>{{fd.nomPlat}}</h1>
                        <p>{{fd.plat}}</p>
                        <p>{{fd.prixPlat | currency:"EUR"}}</p>
                </div>
          
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4" *ngFor="let fd of petitDejData">

            <div class="foodbox mt-3 mb-3" >
                <img src="{{fd.dejImg}}">
                <h1>{{fd.dejNom}}</h1>
                <p>{{fd.dejDetail}}</p>
                <p>{{fd.prixDej | currency:"EUR"}}</p>
            </div>
        </div>

        <div class="col-lg-4" *ngFor="let fd of dessertData">

            <div class="foodbox mt-3 mb-3" >
                <img src="{{fd.dessertImg}}">
                <h1>{{fd.dessertNom}}</h1>
                <p>{{fd.dessertDetail}}</p>
                <p>{{fd.prixDessert | currency:"EUR"}}</p>
               
            </div>
        </div>
    </div>
</div>
